body{
	font: 14px Tahoma;
	color: #333333;
	padding: 10px;
	width: 960px;
	margin: 0 auto;
	background-color: #ffffff;
	outline: 1px solid #333333;
}

#header{
	
	text-align: center;
	text-transform: capitalize;
	/*border: 4px solid #FFDD00;*/
	padding-left:30px;
	margin:20px auto;
	width: 80%;
	background-color: #D76561;
	color: #ffffff;
	border: 1px solid #FFDD00;
}

p{
	text-indent: 30px;

}

li{
	/*border: 1px solid #DB0800;*/
}
a:link{
	color: #000000;
}
a:visited{
	color: #D0FF00;
}

a:hover{
	color: #0000FF;
}

a:active{
	color: #FFCB46;
}


.new2{
	font-style: italic;
}

.new3{
	
	text-decoration: line-through;
}

.new4{
	text-align: justify;
}

a{
	text-decoration: none;
	border-bottom: 1px dashed #c32017;
}

ul{
	list-style: inside url(../images/arrow.png);
	/*color: #DC211E;*/
}


.new6{
	color: #97AD34;/*зеленый*/
}
#liSuper{
	color: #56AEF3;/*синий*/
}

#myList li.new6{
	color: #400000;/*коричневый*/
}
table, td, th{
	border: 1px solid #cccccc;
	text-align: center;
}
table{
	width: 700px;
	border-collapse: collapse;
	margin: 25px auto;
}
td, th {
	height: 50px;
	padding: 5px;
	vertical-align: top;
	background-color: #ffffff;
}

th{
	background-color: #000000;
	
}
tr.blue td{
	background-color: #74B9E4;
	
}
#myImg{
	float: right;
	border: none;
	margin: 20px 0 20px 20px;
}


